/tmp/
*.coverage
/.idea
/.vscode
.vscode
__pycache__/
*.pyc
*.pyd
*.so
*.dylib
*.so.*
*.o
*.out
*.gch
build
*.egg-info
dist
local_script/
output
.ipynb_checkpoints
somas_meta
analyze_fail.dat
VERSION.txt
requirements.txt
.eggs
