/tmp/
*.coverage
/.idea
/.vscode
.vscode
__pycache__/
*.pyc
*.so
*.so.*
*.o
*.out
*.gch
build
*.egg-info
dist
local_script/
output
.ipynb_checkpoints
somas_meta
analyze_fail.dat
.cache
venv
build.conf
cmake-build-debug
