# Python temp files
*.coverage
*.pdb
*.pyc
*.pyd
*.pyd.manifest
.eggs
.ipynb_checkpoints
requirements.txt

# Python temp directories
*.egg-info/
.pytest_cache/
__pycache__/

# Local editor config
/.idea
/.vscode

# Binary files
*.dll
*.dylib
*.gch
*.o
*.out
*.so
*.so.*

# Python venv
/venv/

# Local build directories
/build/
/clang*/
/cmake-build-debug/
/docs/build/
/gcc*/
/install/
/ninja/

# Temp or local directories
/.cache
/dist/
/docs/doxygen
/local_script/
/output/
/tmp/
Testing/
somas_meta/
stat/

# Misc. temp or local files
/.dir-locals.el
/analyze_fail.dat
/build.conf
/settings.json
/test*.*
/tmp*
