absl-py==2.1.0
asttokens==2.4.1
astunparse==1.6.3
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
commonmark==0.9.1
contourpy==1.2.0
cycler==0.12.1
deap==1.4.1
deprecation==2.1.0
dill==0.3.7
dm-tree==0.1.8
filelock==3.13.1
fonttools==4.47.2
fsspec==2024.3.1
graphviz==0.20.1
h5py==3.10.0
idna==3.6
importlib-resources==6.1.1
Jinja2==3.1.3
joblib==1.3.2
keras==3.0.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.2
mindquantum==0.9.11
mindspore==2.2.11
mpmath==1.3.0
namex==0.0.7
networkx==3.2.1
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pbr==6.0.0
pillow==10.2.0
pip==23.3.1
ply==3.11
projectq==0.8.0
protobuf==4.25.2
psutil==5.9.7
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
qclib==0.1.1
qiskit==0.45.2
qiskit-terra==0.45.2
requests==2.31.0
rich==10.9.0
rustworkx==0.14.0
scikit-learn==1.4.0
scipy==1.11.4
setuptools==68.2.2
six==1.16.0
stevedore==5.1.0
sympy==1.12
tensorly==0.8.1
threadpoolctl==3.2.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wheel==0.41.2
zipp==3.17.0
